h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}
.item .status.is-online {
  color: rgb(23, 172, 23);
}
.item .status.is-offline {
  color: red;
}
.name {
  margin: 10px 0;
}
.friends-model {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 26px;
}
.item {
  border: 1.5px solid black;
  padding: 15px;
  border-radius: 5%;
}
.avatar-name {
  width: 60px;
  height: 60px;
  background-color: black;
  border-radius: 50%;
}
.profile {
  display: block;
  text-align: center;
  border: 1.5px solid black;
  width: 250px;
  height: 250px;
  margin: 0 auto 70px auto;
  padding-top: 10px;
  border-radius: 5%;
}
.tag {
  padding-bottom: 15px;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.location {
  padding-bottom: 15px;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.main-name {
  padding: 20px 0;
  color: #010101;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
.stats {
  display: flex;
  justify-content: center;
  background-color: gray;
  width: 100%;
}
.varibles {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(80, 79, 79);
  border-radius: 5%;
  width: 100px;
  height: 100%;
}
.transaction-history {
  width: 500px;
  margin: 0 auto 200px;
  margin-top: 100px;
}
thead {
  background-color: #474747;
  color: #fff;
}
td,
tr,
th {
  border: 1px solid #212121;
  text-align: center;
}
thead {
  background-color: #474747;
  color: #fff;
}
